<div class="modal-dialog modal-dialog-centered roboto-condensed-regular" role="document">
    <div class="modal-content" style="font-size: 13px;">
        <div class="modal-header" style="background-color: rgba(7, 134, 193, 1); font-size: 12px;">
            <h6 class="modal-title  text-warning roboto-condensed-regular">Cierre de Caja</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="id-form-closing-casing" class="embed-responsive p-0" action="{% url 'accounting:closing_casing_c' %}"
              method="POST">
            {% csrf_token %}

            <div class="modal-body">
                <div class="card">
                    <div class="card-header p-2">
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-6 p-1">
                                <label class="text-primary">Fecha de cierre</label>
                                <input type="datetime-local" class="form-control form-control-sm" id="id-date-closing"
                                       name="date-closing"
                                       value="{{ date_now }}" required>
                            </div>
                            <div class="col-md-6 p-1">
                                <label class="text-primary">Caja a cerrar</label>
                                <select id="id-closing-cash" name="closing-cash"
                                        class="form-control form-control-sm" required>
                                    <option value="0">Seleccione</option>
                                    {% for c in casing_set %}
                                        <option value="{{ c.id }}">{{ c.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-1">
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-4 p-1"></div>
                            <div class="col-md-4 p-1 text-center">
                                <label class="text-primary mb-0">Total Apertura</label>
                                <input type="text"
                                       class="form-control form-control-sm text-right"
                                       name="amount-aperture-casing"
                                       id="id-amount-aperture-closing-casing" placeholder="S/. 0.00"
                                       readonly required>
                            </div>
                            <div class="col-md-4 p-1"></div>
                        </div>
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-4 p-1">
                                <label class="text-primary mb-0">Efectivo venta</label>
                                <input type="text"
                                       class="form-control form-control-sm text-right"
                                       name="amount-cash-sales-casing"
                                       id="id-amount-cash-sales-casing" placeholder="S/. 0.00"
                                       readonly>
                            </div>
                            <div class="col-md-4 p-1">
                                <label class="text-primary mb-0">Efectivo compra</label>
                                <input type="text"
                                       class="form-control form-control-sm text-right"
                                       name="amount-cash-purchase-casing"
                                       id="id-amount-cash-purchase-casing" placeholder="S/. 0.00"
                                       readonly>
                            </div>
                            <div class="col-md-4 p-1">
                                <label class="text-primary mb-0">Efectivo total</label>
                                <input type="text"
                                       class="form-control form-control-sm text-right"
                                       name="amount-cash-casing"
                                       id="id-amount-cash-casing" placeholder="S/. 0.00"
                                       readonly>
                            </div>
                        </div>
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-4 p-1">
                                <label class="text-primary mb-0">Deposito venta</label>
                                <input type="text"
                                       class="form-control form-control-sm text-right"
                                       name="amount-deposit-sales-bank"
                                       id="id-amount-deposit-sales-bank" placeholder="S/. 0.00"
                                       readonly>
                            </div>
                            <div class="col-md-4 p-1">
                                <label class="text-primary mb-0">Deposito compra</label>
                                <input type="text"
                                       class="form-control form-control-sm text-right"
                                       name="amount-deposit-purchase-bank"
                                       id="id-amount-deposit-purchase-bank" placeholder="S/. 0.00"
                                       readonly>
                            </div>
                            <div class="col-md-4 p-1">
                                <label class="text-primary mb-0">Deposito total</label>
                                <input type="text"
                                       class="form-control form-control-sm text-right"
                                       name="amount-deposit-bank"
                                       id="id-amount-deposit-bank" placeholder="S/. 0.00"
                                       readonly>
                            </div>
                        </div>
                        <div class="row col-md-12 m-0 p-0">
                            <div class="col-md-4 p-1">
                                <label class="text-primary mb-0">Credito venta</label>
                                <input type="text"
                                       class="form-control form-control-sm text-right" name="amount-credit-sales-client"
                                       id="id-amount-credit-sales-client" placeholder="S/. 0.00"
                                       readonly>
                            </div>
                            <div class="col-md-4 p-1">
                                <label class="text-primary mb-0">Credito compra</label>
                                <input type="text"
                                       class="form-control form-control-sm text-right"
                                       name="amount-credit-purchase-client"
                                       id="id-amount-credit-purchase-client" placeholder="S/. 0.00"
                                       readonly>
                            </div>
                            <div class="col-md-4 p-1">
                                <label class="text-primary mb-0">Credito Total</label>
                                <input type="text"
                                       class="form-control form-control-sm text-right"
                                       name="amount-credit-casing"
                                       id="id-amount-credit-client" placeholder="S/. 0.00"
                                       readonly>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button id="btn-closing-casing" type="submit"
                                class="btn btn-sm btn-warning col-md-12 roboto-condensed-regular">
                            <i class="fas fa-box fa-1x"> </i> Cerrar caja
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="button" id="id-btn-closing-casing-closed" class="btn btn-sm btn-secondary"
                    data-dismiss="modal">Cerrar
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#id-form-closing-casing').submit(function (event) {
        event.preventDefault();
        if ($('#id-closing-cash').val() === '0') {
            toastr.warning('Seleccione la caja que desea cerrar', 'Mensaje')
            return false;
        }
        if ($('#id-date-closing').val() === '') {
            toastr.warning('Seleccione la fecha de cierre', 'Mensaje')
            return false;
        }
        if ($('#id-amount-aperture-closing-casing').val() === '') {
            toastr.warning('No puede hacer un cierre sin aperturar la caja, aperture la caja antes de cerrarla', 'Mensaje')
            return false;
        }
        let data = new FormData($('#id-form-closing-casing').get(0));
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.success) {
                    toastr.success(response.message, 'Mensaje');
                    $('#id-btn-closing-casing-closed').trigger('click');
                    if (response.pk) {
                        window.open("/accounting/print_ticket_closing_cash/" + response.pk + "/", '_blank');
                    }
                }
            },
            error: function (response) {
                toastr.error('¡Problemas con el cierre de caja!', 'Mensaje');
            }
        });
    });

    $("#id-amount-opening-cash").keyup(function (e) {
        let val = $(this).val();
        if (isNaN(val)) {
            $(this).val('');
        }
    });

</script>