{% if employee_set %}
    <div class="card border-primary">
        <div class="card-header" style="background-color: rgba(7, 134, 193, 1.0);">
            <h6 class="card-title text-center text-white mb-0 roboto-condensed-regular" style="font-size: 15px;">Lista
                de trabajadores de la
                empresa</h6>
        </div>
        <div class="card-body pb-1">
            <div class="small">
                <table id="table-employee-list"
                       class="table  align-content-center table-bordered"
                       style="border-collapse:collapse; width: 100%;">
                    <thead>
                    <tr class="text-center  text-white"
                        style="background-color: rgba(7, 134, 193, 1.0);">
                        <th class="th-sm font-weight-normal">N°</th>
                        <th class="th-sm font-weight-normal">Documento</th>
                        <th class="th-sm font-weight-normal">Nombres - Apellidos</th>
                        <th class="th-sm font-weight-normal">Fecha nacimiento</th>
                        <th class="th-sm font-weight-normal">Genero</th>
                        <th class="th-sm font-weight-normal">Telefono</th>
                        <th class="th-sm font-weight-normal">Correo</th>
                        <th class="th-sm font-weight-normal">Dirección</th>
                        <th class="th-sm font-weight-normal">Ocupacion</th>
                        <th class="th-sm font-weight-normal">Estado</th>
                        <th class="th-sm font-weight-normal">Foto</th>
                        <th class="th-sm font-weight-normal">Acción</th>
                    </tr>
                    </thead>
                    <tbody style="font-size: 13px;">
                    {% for e in employee_set %}
                        <tr class="text-center">
                            <td class="align-middle">{{ e.id }}</td>
                            <td>
                                {{ e.document_number }}
                            </td>
                            <td>{{ e.full_name }}</td>
                            <td>{{ e.birth_date }}</td>
                            <td>{{ e.get_gender_display }}</td>
                            <td>{{ e.telephone_number }}</td>
                            <td>{{ e.email }}</td>
                            <td>{{ e.address }}</td>
                            <td>{{ e.get_occupation_display }}</td>
                            <td>
                                {% if e.is_state %}
                                    Activo
                                {% else %}
                                    Inactivo
                                {% endif %}
                            </td>
                            <td>
                                <img class="img-thumbnail" src="{{ e.photo.url }}" id="img-photo-employee" width="100px"
                                     height="80px">
                            </td>
                            <td class="p-1">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success  dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            style="font-size: 11px;">
                                        Acción
                                    </button>
                                    <div class="dropdown-menu border-info font-italic">
                                        <a class="dropdown-item btn-assignment-subsidiary"
                                           style="cursor: pointer; font-size: 11px;" pk="{{ e.id }}"><i
                                                class="fas fa-save pr-1"></i> Asignar sucursal </a>
                                        <a class="dropdown-item btn-update-employee"
                                           style="cursor: pointer; font-size: 11px;" pk="{{ e.id }}"><i
                                                class="fas fa-edit pr-1"></i> Modificar datos </a>
                                        {% if e.user %}
                                            <a class="dropdown-item btn-update-user"
                                               style="cursor: pointer; font-size: 11px;"
                                               pk="{{ e.user.id }}">
                                                <i class="fas fa-sync-alt"></i> Modificar usuario
                                            </a>
                                        {% else %}
                                            <a class="dropdown-item btn-create-user"
                                               style="cursor: pointer; font-size: 11px;" pk="{{ e.id }}">
                                                <i class="fas fa-sync-alt"></i> Creacion de usuario
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr class="text-center text-white" style="background-color: rgba(7, 134, 193, 1.0);">
                        <th class="th-sm font-weight-normal">N°</th>
                        <th class="th-sm font-weight-normal">Documento</th>
                        <th class="th-sm font-weight-normal">Nombres - Apellidos</th>
                        <th class="th-sm font-weight-normal">Fecha nacimiento</th>
                        <th class="th-sm font-weight-normal">Genero</th>
                        <th class="th-sm font-weight-normal">Telefono</th>
                        <th class="th-sm font-weight-normal">Correo</th>
                        <th class="th-sm font-weight-normal">Dirección</th>
                        <th class="th-sm font-weight-normal">Ocupacion</th>
                        <th class="th-sm font-weight-normal">Estado</th>
                        <th class="th-sm font-weight-normal">Foto</th>
                        <th class="th-sm font-weight-normal">Acción</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <style>
        #img-photo-employee {
            border-radius: 50%;
            vertical-align: middle;
        }
    </style>
{% else %}
    <h6>No existen registros de empleados</h6>
{% endif %}