
:root {
    --color-green: #00a878;
    --color-red: #cd3317;
    --color-button: #fdffff;
    --color-black: #ffffff;
}

.switch-button {
    display: inline-block;
}

.switch-button .switch-button__checkbox {
    display: none;
}

.switch-button .switch-button__label {
    background-color: var(--color-red);
    width: 3rem;
    height: 1.6rem;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
}

.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 1.7rem;
    height: 1.6rem;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
}

.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: var(--color-green);
}

.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(1.4rem);
}
