{% extends 'index.html' %}
{% load static %}
{% block title %}
    Traslado | Almacenes
{% endblock title %}
{% block body %}
    <div class="container h-100 w-100 montserrat m-0 p-0 col-sm-12 col-md-12 col-lg-12">
        <div class="row justify-content-center h-100 w-100 m-0 p-0">
            <div class="col-sm-6 col-md-6 col-lg-6 p-0 m-0 montserrat">
                {% include "purchase/transfer_lateral.html" %}
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 p-0 m-0">
                <div id="detail-transfer" class="col-sm-12 col-md-12 col-lg-12 p-0">
                    <div class="row col-sm-12 col-md-12 col-lg-12 m-0 p-0">
                        <div class="col-sm-12 col-md-12 col-lg-12 m-0 p-1">
                            <div class="card border-primary">
                                <div class="card-header text-warning" style="background: #0577b3">Stock de producto en
                                    almacen - Origen
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive" id="id-stock-origin"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col-sm-12 col-md-12 col-lg-12 m-0 p-0">
                        <div class="col-sm-12 col-md-12 col-lg-12 m-0 p-1">
                            <div class="card border-primary">
                                <div class="card-header text-warning" style="background: #0577b3">Stock de producto en
                                    almacen - Destino
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive" id="id-stock-destination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-add-details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
    </div>
    <div class="modal fade small" id="id-modal-casing" tabindex="-1" role="dialog" aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>
    <div class="text-center align-self-center" style="
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        background: #e9ecef;
        opacity: 0.5;
        width: 100%;
        height: 46em;
        padding-top: 21em;" id="id-loading">
    </div>

{% endblock body %}
{% block extrajs %}
    <script type="text/javascript">
        $('.combo').select2({
            theme: 'bootstrap4',
        });
        /**$("#id-subsidiary-origin").trigger("change");**/
        $(document).on('change', '#id-subsidiary-origin', function () {
            let _val = $(this).val();
            $('#id-store-origin').empty();
            if (_val != 0) {
                $.ajax({
                    url: '/purchase/get_store_by_subsidiary/',
                    async: true,
                    dataType: 'json',
                    type: 'GET',
                    data: {'_pk': _val},
                    success: function (response) {
                        //le da format array
                        let store_list = JSON.parse(response['stores']);
                        store_list.forEach(
                            element =>
                                $('#id-store-origin').append(
                                    '<option value="' + element['pk'] + '">' + element['fields']['name'] + '</option>')
                        );
                    },
                });
            } else {
                $('#id-store-origin').append('<option value="0">' + "Seleccione" + '</option>');
            }
        });
        $(document).on('change', '#id-subsidiary-destination', function () {
            let _val = $(this).val();
            $('#id-store-destination').empty();
            if (_val != 0) {
                $.ajax({
                    url: '/purchase/get_store_by_subsidiary/',
                    async: true,
                    dataType: 'json',
                    type: 'GET',
                    data: {'_pk': _val},
                    success: function (response) {
                        //le da format array
                        let store_list = JSON.parse(response['stores']);
                        store_list.forEach(
                            element =>
                                $('#id-store-destination').append(
                                    '<option value="' + element['pk'] + '">' + element['fields']['name'] + '</option>')
                        );
                        /**$("#id_type").trigger("change");**/
                    },
                });
            } else {
                $('#id-store-destination').append('<option value="0">' + "Seleccione" + '</option>');
            }
        });

        $(document).on('change', '#id-product', function () {
            let _val = $(this).val();
            let _origin = $('#id-store-origin').val();
            let _destination = $('#id-store-destination').val();
            if (_origin === '0') {
                toastr.warning('Seleccione el almacen de origen');
                return false;
            }
            if (_destination === '0') {
                toastr.warning('Seleccione el almacen de destino');
                return false;
            }
            $('#id-unit').empty();
            if (_val != 0) {
                $.ajax({
                    url: '/sale/get_units_by_product/',
                    async: true,
                    dataType: 'json',
                    type: 'GET',
                    data: {
                        '_pk': _val,
                        '_store_origin': _origin,
                        '_store_destination': _destination
                    },
                    success: function (response) {
                        let unit_list = JSON.parse(response['units']);
                        unit_list.forEach(
                            element =>
                                $('#id-unit').append(
                                    '<option value="' + element['pk'] + '">' + element['fields']['description'] + '</option>')
                        );
                        $('#id-stock-origin').html(response.grid_origin);
                        $('#id-stock-destination').html(response.grid_destination);
                    },
                });
            } else {
                $('#id-unit').append('<option value="0">' + "Seleccione" + '</option>');
            }
        });
        $("input.decimal").keyup(function (e) {
            let val = $(this).val();
            if (isNaN(val)) {
                $(this).val('');
            }
        });
        $(document).on('click', '#btn-transfer', function () {
            let _product_id = $('#id-product').val();
            if (_product_id === '0') {
                toastr.warning('Seleccione el producto a trasladar');
                return false;
            }
            let _store_origin = $('#id-store-origin').val();
            if (_store_origin === '0') {
                toastr.warning('Seleccione el almacen de origen');
                return false;
            }
            let _store_destination = $('#id-store-destination').val();
            if (_store_destination === '0') {
                toastr.warning('Seleccione el almacen de destino');
                return false;
            }
            let _quantity = $('#id-quantity').val();
            if (_quantity === '') {
                toastr.warning('Ingrese la cantidad a trasladar');
                return false;
            }
            let _unit = $('#id-unit').val();
            if (_unit === '0') {
                toastr.warning('Seleccione la unidad de medida del producto');
                return false;
            }
            let stock_origin = $('#stock-origin').val();
            if (parseFloat(_quantity) > parseFloat(stock_origin)) {
                toastr.warning('Stock insuficiente en el almecen de origen');
                return false;
            }

            $.ajax({
                url: '/sale/set_transfer_between_store/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {
                    'product': _product_id,
                    'store_origin': _store_origin,
                    'store_destination': _store_destination,
                    'quantity': _quantity,
                    'unit': _unit
                },
                success: function (response) {
                    $('#id-stock-origin').empty();
                    $('#id-stock-destination').empty();
                    toastr.success('El traslado se realizo con exito');
                    $('#id-stock-origin').html(response.grid_origin);
                    $('#id-stock-destination').html(response.grid_destination);
                },
                fail: function (response) {
                    toastr.error('Ocurrio un problema en el traslado');
                }
            });
        });
    </script>
{% endblock extrajs %}