<div class="row col-sm-12 col-md-12 col-lg-12 m-0 p-0">
    <div class="col-sm-12 col-md-12 col-lg-12 m-0 p-1">
        <div class="card border-primary">
            <div class="card-header text-warning" style="background: #0577b3">Origen</div>
            <div class="card-body">
                <label class="m-0">Sucursal Origen</label>
                <select id="id-subsidiary-origin" name="id-subsidiary-origin"
                        class="form-control form-control-sm combo">
                    <option value="0">Seleccione</option>
                    {% for s in subsidiary_set %}
                        <option value="{{ s.id }}">{{ s.name }}</option>
                    {% endfor %}
                </select>
                <label class="m-0 mt-3">Almacen Origen</label>
                <select id="id-store-origin" name="id-store-origin"
                        class="form-control form-control-sm combo">
                    <option value="0">Seleccione</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row col-sm-12 col-md-12 col-lg-12 m-0 p-0">
    <div class="col-sm-12 col-md-12 col-lg-12 m-0 p-1">
        <div class="card border-primary">
            <div class="card-header text-warning" style="background: #0577b3">Destino</div>
            <div class="card-body">
                <label class="m-0">Sucursal Destino</label>
                <select id="id-subsidiary-destination" name="id-subsidiary-destination"
                        class="form-control form-control-sm combo">
                    <option value="0">Seleccione</option>
                    {% for s in subsidiary_set %}
                        <option value="{{ s.id }}">{{ s.name }}</option>
                    {% endfor %}
                </select>
                <label class="m-0 mt-3">Almacen Origen</label>
                <select id="id-store-destination" name="id-store-destination"
                        class="form-control form-control-sm combo">
                    <option value="0">Seleccione</option>
                </select>
            </div>
        </div>
    </div>
</div>
