{% if product_store_origin_set %}
    <div class="card border-primary">
        <div class="card-header" style="background: #0577b3">
            <h6 class="text-white">Almacen: {{ product_store_origin_set.first.subsidiary_store__name }}</h6>
        </div>
        <div class="card-body">
            <div class="row col-sm-12 col-md-12 col-lg-12 align-self-center m-0 p-0">
                <div class="col-sm-2 col-md-2 col-lg-2 align-self-center text-center">
                    Stock
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 align-self-center">
                    <input id="stock-origin" class="form-control text-right"
                           value="{{ product_store_origin_set.first.stock|safe }}"
                           readonly>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 align-self-center text-center">
                    Unidad medida
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 align-self-center">
                    <input class="form-control text-center" value="{{ product_store_origin_set.first.product__productpresenting__unit__description }}" readonly>
                </div>
            </div>
        </div>
    </div>
{% else %}
   <div class="row col-sm-12 col-md-12 col-lg-12 align-self-center text-center">No existe un stock en el almacen de origen</div>
{% endif %}