{% load static %}
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Login</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <link rel="icon" href="{% static 'img/system/icono.ico' %}" type="image/ico"/>
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/fonts.googleapis.css' %}"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/switch.css' %}">
</head>
<body style="background-color: #2a5d1f;
        background-image: url({% static 'img/fondo3.jpg' %}); /* Imagen */
        background-blend-mode: multiply; /* Efecto */
        no-repeat: center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 70% 100%;" class="roboto-condensed-regular">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center h-100">
                    <div class="col-lg-4 align-self-center">
                        <div class="card shadow-lg border-0 rounded-lg" style="border-color: #0469a0">
                            <div class="card-header text-center" style="background-color: #0469a0">
                                <i class="fab fa-jenkins fa-3x text-gray-300"></i>
                                <h4 class="text-center text-white font-weight-bold my-2">Login</h4></div>
                            <div class="card-body">
                                <form class="user" method="post">
                                    {% csrf_token %}

                                    {% if form.errors %}
                                        <div class="form-group">
                                            {% if form.non_field_errors %}
                                                {% for error in form.non_field_errors %}
                                                    <div class="alert alert-danger alert-dismissible fade show"
                                                         role="alert">Usuario y/o contraseña invalido
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    {% endif %}

                                    <div class="form-group">
                                        <label class="mb-1 ml-3"
                                               for="inputEmailAddress">Usuario</label>
                                        {#                                        <input class="form-control py-4" id="inputEmailAddress" type="email"#}
                                        {#                                               placeholder="Enter usuario"/>#}
                                        {{ form.username }}
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-1 ml-3"
                                               for="inputPassword">Contraseña</label>
                                        {{ form.password }}
                                    </div>
                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <button type="submit" class="btn btn-outline-success btn-user btn-block">
                                            <b>Login</b>
                                        </button>
                                    </div>
                                    <!--  <div class="form-group d-flex text-center">
                                              <div class="custom-control custom-switch text-center">
                                                  <input type="checkbox" class="custom-control-input" id="switch-label">
                                                  <label class="custom-control-label" for="switch-label">
                                                  </label>
                                              </div>
                                          </div>
                                      -->
                                </form>
                            </div>
                            <div class="card-footer text-center" style="background-color: #0469a0">
                                <div class=""><a class="text-white roboto-condensed-regular" href="#">www.ivanet.com</a></div>
                                <div class="spinner-border text-white">
                                    <div class="font-weight-bold">IE</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="{% static 'js/font-awesome.js' %}"
            crossorigin="anonymous"></script>
</body>
</html>
