<div class="card p-0  m-0 mt-1" style="border-color: #2681d0">
    <div class="card-header text-center p-1" style="background: #2681d0">
        <h6 class="card-title text-white m-0 p-0 roboto-condensed-regular">GRAFICO DE PRODUCTOS VENDIDOS</h6>
    </div>
    <div class="card-body p-0 m-0">
        <figure class="highcharts-figure col-sm-12 col-md-12 col-lg-12 response">
            <div class="col-sm-12 col-md-12 col-lg-12 p-0 m-0" id="container"></div>
        </figure>
    </div>
</div>
<script type="text/javascript">
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'PRODUCTOS'
        },
        subtitle: {
            text: 'Venta de productos por dia'
        },
        xAxis: {
            categories: [
                'Lunes',
                'Martes',
                'Miercoles',
                'Jueves',
                'Viernes',
                'Sabado',
                'Domingo'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Cantidad vendida (Unidades)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} Unidades</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [
            {% for p in product_grid_list %}
                {
                    name: "{{ p.name }}",
                    data: {{ p.data }}
                },
            {% endfor %}
        ]
    });
</script>