<div class="card p-0  m-0 mt-1" style="border-color: #2681d0">
    <div class="card-header text-center p-1" style="background: #2681d0">
        <h6 class="card-title text-white m-0 p-0 roboto-condensed-regular">GRAFICO DE PAGOS</h6>
    </div>
    <div class="card-body p-0 m-0">
        <figure class="highcharts-figure col-sm-12 col-md-12 col-lg-12 response">
            <div class="col-sm-12 col-md-12 col-lg-12 p-0 m-0" id="container"></div>
        </figure>
    </div>
</div>
<script type="text/javascript">
    Highcharts.chart('container', {
        title: {
            text: 'Modalidad de Pagos'
        },
        xAxis: {
            categories: ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo']
        },
        labels: {
            items: [{
                html: 'Total Semana',
                style: {
                    left: '95px',
                    top: '-30px',
                    color: ( // theme
                        Highcharts.defaultOptions.title.style &&
                        Highcharts.defaultOptions.title.style.color
                    ) || 'black'
                }
            }]
        },
        series: [{
            type: 'column',
            name: 'Efectivo',
            data: {{ cash_payment|safe }}
        }, {
            type: 'column',
            name: 'Deposito',
            data: {{ deposit_payment|safe }}/**[2, 3, 5, 7, 6, 4, 6]**/
        }, {
            type: 'column',
            name: 'Credito',
            data: {{ credit_payment|safe }}
        }, {
            type: 'spline',
            name: 'Efectivo y Deposito',
            data: {{ cash_deposit_payment|safe }},
            marker: {
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[3],
                fillColor: 'white'
            }
        }, {
            type: 'pie',
            name: 'Total S/.',
            data: [{
                name: 'Efectivo',
                y: {{ total_cash_week|safe }},
                color: Highcharts.getOptions().colors[0] //color
            }, {
                name: 'Deposito',
                y: {{ total_deposit_week|safe }},
                color: Highcharts.getOptions().colors[1] //color
            }, {
                name: 'Credito',
                y: {{ total_credit_week|safe }},
                color: Highcharts.getOptions().colors[2] //color
            }],
            center: [110, 50],
            size: 100,
            showInLegend: false,
            dataLabels: {
                enabled: true
            }
        }]
    });
</script>